<!DOCTYPE html>
<html>

<head>
    <title>Shared Header</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/movie1">Movie 1</a></li>
                <li><a href="/movie2">Movie 2</a></li>
                <li><a href="/movie3">Movie 3</a></li>
                <li><a href="/movie4">Movie 4</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>